.firstcontainer {
  background-color: #E4F9F5;
  padding-top: 80px;


}
.containerdot{
  width: 85%;
}

.Mlo{
  line-height: 2.2;
}
.spanio{
  box-shadow :  0 0 0px 1px #16161d;
  border-radius: 25px;
padding: 0.5rem;
font-size: 14px;


}
.rownew{
  margin-top: 25px;
  margin-bottom: 25px;
}
.col-left{
  padding-right: 25px;
}
.col-right{
  padding-left: 25px;
}
.tech3{
  color: black;
  font-size: 2rem;
}
.mountain{
  padding-top:80px;
}
.cloud2{
  position: absolute;
}
.proimage{
  width:700px;
  height:400px;
}
.procontainer{
  margin-top: 50px;
  margin-bottom: 100px;

line-height: 2;
}
.tbc{
margin: auto;
}

.tbl{
  text-align: left;
}
.cloud1{
  position: relative;
  left: 250px;
}
h3{
  color: #11999E;
}
.row{
  padding-top :70px;
  width: 100%;

}
a{
  color:#11999E;
  text-decoration: none;
}
h2{
  color: #66BFBF;
  font-size: 2.5em;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  margin-top: 0;
  margin-left: 0;
  font-size: 3rem;;
  font-family: cursive;
  color: #66BFBF;
}
body {
  margin:0;
  text-align: center;
font-size: 20px;

}
.myimage{
  margin-top: 50px;
  border-radius: 50%;
  height:300px;
  width:300px;

}
.laptop
{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.moneytree{
width: 25%;
float: right;
margin-left: 30px;
}
.tagline{
  font-weight: normal;
font-size: 1.2em;
}
.skillrow{
  width: 50%;
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
text-align: left;
line-height: 2;
}
.myinfo{
width:25%;
margin: auto;
line-height: 2;
}
hr {
  border-style: dotted;
  width: 30px;
  margin:auto;
  border-bottom: 0;
  border-color: lightgrey;
  border-width: thick;
  border-spacing: 10px;
}
.lastdiv{
  width: 50%;
  margin:auto;
  line-height: 2;
}
.BUTTON_YMB {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Times New Roman;
   font-size: 39px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_UJT {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Times New Roman;
   font-size: 18px;
   font-weight: 100;
   padding: 5px;
   text-shadow: 0 0 0 #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.finallylast{
  background-color: #66BFBF;
  line-height: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
}
.lastp{
  color:white;
}
